Repository hkust-hpc-team/hkust-hpc: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstrfmt, sort-yaml

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: 'chore(pre-commit): auto fixes'
  autofix_prs: true
  autoupdate_commit_msg: 'chore(pre-commit): update hook revs'
  autoupdate_schedule: quarterly
minimum_pre_commit_version: '3.6.0'
repos:
  - hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
  - hooks:
      - entry: uv run docstrfmt
        exclude: |-
          (?x)^(
            docs/src/kb/.*vscode.*\.rst
          )$
        fail_fast: false
        id: docstrfmt
        language: system
        name: Format RST with docstrfmt
        types: [rst]
        verbose: true
      - entry: uv run yq -i -S -Y .
        id: sort-yaml
        language: system
        name: Normalize YAML with yq
        types: [yaml]
    repo: local
  - hooks:
      - args: ["--max-line-length=120"]
        id: doc8
        name: Check RST doc style with doc8
    repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
  - hooks:
      - additional_dependencies:
          - rstcheck[sphinx, toml]
        id: rstcheck
        name: Check RST syntax with rstcheck
    repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0

fixed all kinds of format issue
  .githooks/pre-commit
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/src/index.rst
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
  docs/src/sysadmin/index.rst
  docs/src/sysadmin/subsystems/cpu/amd.rst
  docs/src/sysadmin/subsystems/networking/index.rst
  docs/src/sysadmin/subsystems/nfs-client.rst
  pyproject.toml
Due: docstrfmt, sort-yaml

use ruff instead
  .pre-commit-config.yaml
  docs/src/conf.py
  pyproject.toml
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-urllist/README.md
Due: sort-yaml

breaking: recommand a simpler set of extensions; replaced ITSC to ITSO; improve make
  .vscode/extensions.json
  Makefile.inc/build.mk
  docs/src/contrib/index.rst
  docs/src/index.rst
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
Due: docstrfmt

use auto numbering
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
  docs/src/sysadmin/subsystems/nfs-client.rst
  pyproject.toml
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-urllist/README.md
Due: docstrfmt

update pyproject
  pyproject.toml
  uv.lock
Due: none

update weburl
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
Due: docstrfmt

refactor:use uv
  .gitignore
  .python-version
  Makefile
  Makefile.inc/build.mk
  Makefile.inc/dev/debug-targets.mk
  Makefile.inc/dev/env.mk
  pyproject.toml
  uv.lock
Due: none

refactor: use pre-commit-config.yaml and use ruff for format and lint
  .githooks/pre-commit
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: sort-yaml

refactor: apply linting and formatting; fix web url; replace container to rst-class
  docs/src/conf.py
  docs/src/contrib/index.rst
  docs/src/index.rst
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/git/index.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
  docs/src/sysadmin/index.rst
  docs/src/sysadmin/subsystems/cpu/amd.rst
  docs/src/sysadmin/subsystems/networking/index.rst
  docs/src/sysadmin/subsystems/nfs-client.rst
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/requirements.txt
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-urllist/README.md
Due: docstrfmt

Update pyproject.toml
  pyproject.toml
Due: none

remove unused dev dep
  pyproject.toml
  uv.lock
Due: none

fix url
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
Due: docstrfmt

Update docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
Due: docstrfmt

kb: debugging segfault
  docs/src/kb/dev/dev-how-to-debug-segmentation-fault---d8CWH.rst
  docs/src/kb/dev/index.rst
  examples/debug-segmentation-fault/Makefile
  examples/debug-segmentation-fault/README.md
  examples/debug-segmentation-fault/src/constants.c
  examples/debug-segmentation-fault/src/constants.h
  examples/debug-segmentation-fault/src/main.c
  examples/debug-segmentation-fault/src/mpi_impl.c
  examples/debug-segmentation-fault/src/mpi_impl.h
  examples/debug-segmentation-fault/src/util.c
  examples/debug-segmentation-fault/src/util.h
Due: docstrfmt

Update examples/debug-segmentation-fault/src/util.c
  examples/debug-segmentation-fault/src/util.c
Due: none

Update docs/src/kb/dev/dev-how-to-debug-segmentation-fault---d8CWH.rst
  docs/src/kb/dev/dev-how-to-debug-segmentation-fault---d8CWH.rst
Due: docstrfmt

fix makefile
  examples/debug-segmentation-fault/Makefile
Due: none

Update examples/debug-segmentation-fault/src/main.c
  examples/debug-segmentation-fault/src/main.c
Due: none

kb: debugging segfault (#24)
  docs/src/kb/dev/dev-how-to-debug-segmentation-fault---d8CWH.rst
  docs/src/kb/dev/index.rst
  examples/debug-segmentation-fault/Makefile
  examples/debug-segmentation-fault/README.md
  examples/debug-segmentation-fault/src/constants.c
  examples/debug-segmentation-fault/src/constants.h
  examples/debug-segmentation-fault/src/main.c
  examples/debug-segmentation-fault/src/mpi_impl.c
  examples/debug-segmentation-fault/src/mpi_impl.h
  examples/debug-segmentation-fault/src/util.c
  examples/debug-segmentation-fault/src/util.h
Due: docstrfmt

fix dev naming
  docs/src/kb/dev/index.rst
Due: docstrfmt

fix dev naming (#25)
  docs/src/kb/dev/index.rst
Due: docstrfmt

example: cross-node training SLURM script
  examples/cross-node-dl-slurm-script/README.md
  examples/cross-node-dl-slurm-script/submit-line.sh
  examples/cross-node-dl-slurm-script/train-redpajama-launcher.sh
  examples/cross-node-dl-slurm-script/train-redpajama-prelaunch.sh
Due: none

Update examples/cross-node-dl-slurm-script/train-redpajama-prelaunch.sh
  examples/cross-node-dl-slurm-script/train-redpajama-prelaunch.sh
Due: none

Update examples/cross-node-dl-slurm-script/train-redpajama-launcher.sh
  examples/cross-node-dl-slurm-script/train-redpajama-launcher.sh
Due: none

fix gemini suggestions
  examples/cross-node-dl-slurm-script/README.md
  examples/cross-node-dl-slurm-script/submit-line.sh
  examples/cross-node-dl-slurm-script/train-redpajama-prelaunch.sh
Due: none

Update examples/cross-node-dl-slurm-script/README.md
  examples/cross-node-dl-slurm-script/README.md
Due: none

example: cross-node training SLURM script (#26)
  examples/cross-node-dl-slurm-script/README.md
  examples/cross-node-dl-slurm-script/submit-line.sh
  examples/cross-node-dl-slurm-script/train-redpajama-launcher.sh
  examples/cross-node-dl-slurm-script/train-redpajama-prelaunch.sh
Due: none

workshop: ai/hpc system slides
  workshops/20251002-ai-hpc-systems/ai-hpc-systems.pdf
Due: none

workshop: ai/hpc system slides (#27)
  workshops/20251002-ai-hpc-systems/ai-hpc-systems.pdf
Due: none

refactor: use uv (#21)
  .gitignore
  .python-version
  Makefile
  Makefile.inc/build.mk
  Makefile.inc/dev/debug-targets.mk
  Makefile.inc/dev/env.mk
  pyproject.toml
  uv.lock
Due: none

refactor: use pre-commit-config.yaml and use ruff for format and lint (#22)
  .githooks/pre-commit
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: sort-yaml

refactor: apply linting and formatting; fix web url; replace containe… (#23)
  docs/src/conf.py
  docs/src/contrib/index.rst
  docs/src/index.rst
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/git/index.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
  docs/src/sysadmin/index.rst
  docs/src/sysadmin/subsystems/cpu/amd.rst
  docs/src/sysadmin/subsystems/networking/index.rst
  docs/src/sysadmin/subsystems/nfs-client.rst
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/requirements.txt
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-urllist/README.md
Due: docstrfmt

Revert "refactor: use uv (#21)"
  .gitignore
  .python-version
  Makefile
  Makefile.inc/build.mk
  Makefile.inc/dev/debug-targets.mk
  Makefile.inc/dev/env.mk
  pyproject.toml
  uv.lock
Due: none

Revert "refactor: use uv (#21)" (#28)
  .gitignore
  .python-version
  Makefile
  Makefile.inc/build.mk
  Makefile.inc/dev/debug-targets.mk
  Makefile.inc/dev/env.mk
  pyproject.toml
  uv.lock
Due: none

Revert "refactor: use pre-commit-config.yaml and use ruff for format and lint…"
  .githooks/pre-commit
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: sort-yaml

Revert "refactor: use pre-commit-config.yaml and use ruff for format and lint…" (#29)
  .githooks/pre-commit
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: sort-yaml
