Repository hkust-hpc-team/hkust-hpc: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstrfmt, sort-yaml

docstrfmt:
  entry: uv run docstrfmt
  fail_fast: false
  language: system
  name: Format RST with docstrfmt
  verbose: true

sort-yaml:
  entry: uv run yq -i -S -Y .
  language: system
  name: Normalize YAML with yq

Revert "refactor: apply linting and formatting; fix web url; replace containe…"
  docs/src/conf.py
  docs/src/contrib/index.rst
  docs/src/index.rst
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/git/index.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
  docs/src/sysadmin/index.rst
  docs/src/sysadmin/subsystems/cpu/amd.rst
  docs/src/sysadmin/subsystems/networking/index.rst
  docs/src/sysadmin/subsystems/nfs-client.rst
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/requirements.txt
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-urllist/README.md
Due: docstrfmt

Revert "refactor: apply linting and formatting; fix web url; replace containe…" (#30)
  docs/src/conf.py
  docs/src/contrib/index.rst
  docs/src/index.rst
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/git/index.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
  docs/src/sysadmin/index.rst
  docs/src/sysadmin/subsystems/cpu/amd.rst
  docs/src/sysadmin/subsystems/networking/index.rst
  docs/src/sysadmin/subsystems/nfs-client.rst
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/requirements.txt
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-urllist/README.md
Due: docstrfmt

Update .gitignore
  .gitignore
Due: none

Refactor/uv (#31)
  .gitignore
  .python-version
  Makefile
  Makefile.inc/build.mk
  Makefile.inc/dev/debug-targets.mk
  Makefile.inc/dev/env.mk
  pyproject.toml
  uv.lock
Due: none

workshop: ai/hpc system slides (#27)
  workshops/20251002-ai-hpc-systems/ai-hpc-systems.pdf
Due: none

fix dev naming (#25)
  docs/src/kb/dev/index.rst
Due: docstrfmt

kb: debugging segfault (#24)
  docs/src/kb/dev/dev-how-to-debug-segmentation-fault---d8CWH.rst
  docs/src/kb/dev/index.rst
  examples/debug-segmentation-fault/Makefile
  examples/debug-segmentation-fault/README.md
  examples/debug-segmentation-fault/src/constants.c
  examples/debug-segmentation-fault/src/constants.h
  examples/debug-segmentation-fault/src/main.c
  examples/debug-segmentation-fault/src/mpi_impl.c
  examples/debug-segmentation-fault/src/mpi_impl.h
  examples/debug-segmentation-fault/src/util.c
  examples/debug-segmentation-fault/src/util.h
Due: docstrfmt

example: cross-node training SLURM script (#26)
  examples/cross-node-dl-slurm-script/README.md
  examples/cross-node-dl-slurm-script/submit-line.sh
  examples/cross-node-dl-slurm-script/train-redpajama-launcher.sh
  examples/cross-node-dl-slurm-script/train-redpajama-prelaunch.sh
Due: none

refactor:use uv
  pyproject.toml
Due: none

Refactor/uv (#31)
  .gitignore
  pyproject.toml
  uv.lock
Due: none

Refactor/precommit (#32)
  .githooks/pre-commit
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
Due: sort-yaml

formatter
  examples/cross-node-dl-slurm-script/README.md
  examples/cross-node-dl-slurm-script/submit-line.sh
  examples/debug-segmentation-fault/README.md
Due: none

Refactor/docs (#33)
  docs/src/conf.py
  docs/src/contrib/index.rst
  docs/src/index.rst
  docs/src/kb/apps/apps-running-gromacs-on-hpc-systems-2xQqw0.rst
  docs/src/kb/enroot/enroot-error-when-downloading-nvidia-ng-k1c4Rs.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/git/index.rst
  docs/src/kb/index.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-remove-large--xY2yHF.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-resolve-qosmingres-error--JjvzJa.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
  docs/src/kb/slurm/slurm-how-to-run-overlap-jobs-in-slurm-EkCFPV.rst
  docs/src/kb/spack/spack-how-can-i-share-spack-compiled-p-NSyikz.rst
  docs/src/kb/spack/spack-how-to-speed-up-spack-package-in-fg7SmP.rst
  docs/src/kb/spack/spack-when-using-spack-generated-modul-96jioN.rst
  docs/src/kb/ssh/ssh-how-to-enable-x11-forwarding-for-d8Yzyg.rst
  docs/src/kb/ssh/ssh-how-to-prevent-ssh-session-disco-OoJVlR.rst
  docs/src/kb/ssh/ssh-how-to-resolve-x11-authenticatio-cRobg2.rst
  docs/src/kb/ssh/ssh-login-to-hpc-cluster-without-usi-ImiEj9.rst
  docs/src/kb/template.rst
  docs/src/kb/vscode/vscode-how-to-reset-vs-code-remote-conn-Elm1Ht.rst
  docs/src/sysadmin/index.rst
  docs/src/sysadmin/subsystems/cpu/amd.rst
  docs/src/sysadmin/subsystems/networking/index.rst
  docs/src/sysadmin/subsystems/nfs-client.rst
  examples/cross-node-dl-slurm-script/README.md
  examples/cross-node-dl-slurm-script/submit-line.sh
  examples/debug-segmentation-fault/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/README.md
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-huggingface/requirements.txt
  workshops/20241119-scaling-dl-pipeline/examples/01-data-acquisition/recipe-urllist/README.md
Due: docstrfmt

fix doc8 arg
  .pre-commit-config.yaml
Due: sort-yaml

ignore line too long
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
Due: docstrfmt, sort-yaml

fix auto numbering indentatino
  docs/src/contrib/index.rst
  docs/src/kb/enroot/enroot-running-container-in-batch-mode--Ha3k6x.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-saving-enroot-container-failed-tdQCrl.rst
  docs/src/kb/linux/linux-how-to-efficiently-download-file-kAXs5k.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/slurm/slurm-how-to-run-jupyterlab-on-hpc-com-pn5EH3.rst
Due: docstrfmt

Update docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
  docs/src/kb/enroot/enroot-running-interactive-container-se-L58_Wq.rst
Due: docstrfmt

Update docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
  docs/src/kb/linux/linux-how-to-efficiently-upload-files--QGfkr7.rst
Due: docstrfmt

revamp: workshops and examples
  examples/data-acquisition-huggingface/README.md
  examples/data-acquisition-huggingface/hf_model_download.py
  examples/data-acquisition-huggingface/requirements.txt
  examples/data-acquisition-huggingface/slurm-hf-model-download.sh
  examples/data-acquisition-huggingface/slurm-hfcli-dataset-download.sh
  examples/data-acquisition-urllist/README.md
  examples/data-acquisition-urllist/slurm-url-list-download.sh
  examples/data-acquisition-urllist/url-list.txt
  workshops/20241119-scaling-dl-pipeline/README.md
  workshops/README.md
Due: none

kb: How to locate missing files and folders on Linux systems
  docs/src/kb/linux/linux-how-to-locate-files-and-folders--ViIp-5.rst
Due: docstrfmt

revamp: workshops and examples (#35)
  examples/data-acquisition-huggingface/README.md
  examples/data-acquisition-huggingface/hf_model_download.py
  examples/data-acquisition-huggingface/requirements.txt
  examples/data-acquisition-huggingface/slurm-hf-model-download.sh
  examples/data-acquisition-huggingface/slurm-hfcli-dataset-download.sh
  examples/data-acquisition-urllist/README.md
  examples/data-acquisition-urllist/slurm-url-list-download.sh
  examples/data-acquisition-urllist/url-list.txt
  workshops/20241119-scaling-dl-pipeline/README.md
  workshops/README.md
Due: none

example: superpod hello-world
  examples/superpod-hello-world/README.md
  examples/superpod-hello-world/superpod-batch-job-helloworld.sh
  examples/superpod-hello-world/superpod-interactive-helloworld.sh
Due: none

Update examples/superpod-hello-world/README.md
  examples/superpod-hello-world/README.md
Due: none

Update examples/superpod-hello-world/superpod-batch-job-helloworld.sh
  examples/superpod-hello-world/superpod-batch-job-helloworld.sh
Due: none

fix
  examples/superpod-hello-world/superpod-batch-job-helloworld.sh
Due: none

example: superpod hello-world (#37)
  examples/superpod-hello-world/README.md
  examples/superpod-hello-world/superpod-batch-job-helloworld.sh
  examples/superpod-hello-world/superpod-interactive-helloworld.sh
Due: none

hello world scripts
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-cpu-mpi.sh
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-cpu.sh
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-gpu.sh
  examples/hpc4-hello-world/hpc4-interactive-helloworld.sh
Due: none

add index for examples link to github
  docs/src/examples
  docs/src/index.rst
  examples/cross-node-dl-slurm-script/index.rst
  examples/data-acquisition-huggingface/index.rst
  examples/data-acquisition-urllist/index.rst
  examples/debug-segmentation-fault/index.rst
  examples/index.rst
  examples/superpod-hello-world/index.rst
Due: docstrfmt

hello world scripts
  examples/hpc4-hello-world/README.md
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-cpu-mpi.sh
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-cpu.sh
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-gpu.sh
  examples/hpc4-hello-world/hpc4-interactive-helloworld.sh
Due: none

intro to fd command
  docs/src/kb/linux/linux-how-to-efficiently-list-all-file-VyC188.rst
Due: docstrfmt

kb: using shebang
  docs/src/kb/linux/linux--setenv--command-not-found--when-MpUylV.rst
Due: docstrfmt

Apply suggestions from code review
  docs/src/kb/linux/linux-how-to-locate-files-and-folders--ViIp-5.rst
Due: docstrfmt

kb: scronjob usage
  docs/src/kb/slurm/slurm-how-to-run-slurm-jobs-periodical-3bPCd_.rst
  docs/src/kb/slurm/slurm-how-to-submit-overlapping-slurm--sDhSiw.rst
Due: docstrfmt

hello world scripts (#38)
  examples/hpc4-hello-world/README.md
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-cpu-mpi.sh
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-cpu.sh
  examples/hpc4-hello-world/hpc4-batch-job-helloworld-gpu.sh
  examples/hpc4-hello-world/hpc4-interactive-helloworld.sh
Due: none

kb: using shebang (#40)
  docs/src/kb/linux/linux--setenv--command-not-found--when-MpUylV.rst
Due: docstrfmt

doc for popular runtimes
  docs/src/index.rst
  docs/src/software/index.rst
  docs/src/software/java/index.rst
  docs/src/software/matlab/index.rst
  docs/src/software/perl/index.rst
  docs/src/software/python/index.rst
  docs/src/software/r/index.rst
Due: docstrfmt

doc for popular runtimes (#42)
  docs/src/index.rst
  docs/src/software/index.rst
  docs/src/software/java/index.rst
  docs/src/software/matlab/index.rst
  docs/src/software/perl/index.rst
  docs/src/software/python/index.rst
  docs/src/software/r/index.rst
Due: docstrfmt

kb: scronjob usage (#41)
  docs/src/kb/slurm/slurm-how-to-run-slurm-jobs-periodical-3bPCd_.rst
  docs/src/kb/slurm/slurm-how-to-submit-overlapping-slurm--sDhSiw.rst
Due: docstrfmt

Path conditions:
  docstrfmt: any of: \.rst$, but not: (?x)^(
  docs/src/kb/.*vscode.*\.rst
)$
  sort-yaml: any of: \.(yaml|yml)$
